@import '../../styles/variables.scss';

.root {
  position: relative;
  display: inline-flex;
  height: 25px;
  border: none;
  background: none;
  padding: 3px 0.625rem;
  font-size: 14px;
  color: $colorBlue;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 15px;
    border: 1px solid $colorMainBrown;
    background: #fff0da;
    opacity: 0.5;
  }

  &.isMobile {
    color: $colorGold;
  }

  .icon {
    position: relative;
    height: 18px;
    width: 18px;
    fill: $colorBlue;

    &.isMobile {
      fill: $colorGold;
    }
  }

  &:hover {
    color: white;

    .icon {
      fill: white;
    }

    &::before {
      border-color: $colorBlue;
      background: $colorBlue;
      opacity: 1;
    }
  }
}

.title {
  position: relative;
}
