@import '../../styles/variables.scss';

.card {
  margin-bottom: 1.25rem;
  display: flex;
  height: 220px;
  width: 150px;
  align-items: center;

  @media (min-width: 531px) {
    height: 350px;
    width: 240px;
  }
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}
