@import '../../styles/variables.scss';

.root {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-image: url('../../public/bgFilterMiddleTile.jpeg');
  padding-top: 11px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 60px;
    width: 100%;
    background-position: top;
    background-repeat: repeat-x;
  }

  &::before {
    top: 0;
    background-image: url('../../public/bgFilterTopTile.png');
  }

  &::after {
    bottom: -15px;
    background-image: url('../../public/bgFilterBottomTile.png');
  }
}

.desktopFilterBar {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 93px;
  width: calc(90% + 15px);
  max-width: 1600px;
  align-items: center;
  justify-content: center;
  padding-top: 2.5px;

  @media ($mediaMdUp) {
    width: 100%;
    padding: 0 20px 0 10px;
  }
}

.filter {
  margin-bottom: 0;
}

.mobileFilterBar {
  position: relative;
  height: 0;
  min-height: 0;
  transition: all 200ms ease-out;

  &.isOpen {
    height: auto;
    min-height: 80px;
    border-top: 1px solid #701b1a;
    padding: 12px 1.25rem 0.625rem 0.625rem;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      height: 1px;
      width: 100%;
      background-color: #461310;
    }
  }
}

.mobileContainer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: $mediaXxl;
  flex-wrap: wrap;
  align-items: center;
  transition-property: opacity;
  transition-delay: 300ms;
  transition-duration: 100ms;
  transition-timing-function: ease;
}
