@import '../../styles/variables.scss';

.root {
  margin-bottom: 1.25rem;
}

.title {
  margin-bottom: 0;
  font-size: 16px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.625rem;
}

.card {
  position: relative;
  margin-right: 0.625rem;
  cursor: zoom-in;
  font-size: 16px;
  color: $white;
  text-decoration: underline;
}

.image {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 1.25rem;
  top: 50%;
  z-index: 200;
  width: 250px;
  max-width: unset;

  @media (min-width: 401px) {
    position: absolute;
    top: auto;
  }
}
